.eslogan {
  text-align: center;
  padding: 3rem 1rem 1rem 1rem;
  background-color: #f8fafc;
}

.eslogan h1 {
  font-size: 2.5rem;
  color: #0f172a;
}

.eslogan p {
  font-size: 1.25rem;
  color: #475569;
}
